html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


/* navbar effects to be dramatic ;) */

nav .navbar-brand {
    /* size for brand */
    font-size: xx-large;
}

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    font-weight: bold;
}